<?xml version="1.0"?>
<!-- 
The MIT License (MIT)
Copyright (c) 2016 GRVC University of Seville

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. 
-->
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find grvc_quadrotor_gazebo)/urdf/quadrotor_plugins.urdf.xacro" />

  <property name="M_PI" value="3.1415926535897931"/>
  <property name="pi" value="3.1415926535897931" />
  <property name="col_box_l1" value="0.05" />
  <property name="col_box_l2" value="0.04" />
  
  <property name="gripper_kp" value="10000000.0" />
  <property name="gripper_kd" value="1.0" />
  <property name="gripper_mu" value="500.0" />
  
  <property name="wirst_kp" value="1e12" />
  <property name="wirst_kd" value="1e12" />
  <property name="wirst_mu" value="0.0" />

  <!-- ######################################################################## -->

  <!-- A single propeller -->
  <xacro:macro name="quadrotor_single_propeller" params="propid id xyz">
    <link name="prop_${propid}_${id}">
      <inertial>
        <mass value="0.00001" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>

      <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
        <geometry>
          <mesh filename="package://grvc_quadrotor_gazebo/model/propellers.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0.0 0.0 0.01" rpy="0.0 0.0 0.0" />
        <geometry>
          <cylinder length="0.15" radius="0.17"/>
        </geometry>
      </collision>
    </link>

    <joint name="base_prop_${propid}_joint_${id}" type="fixed">
      <origin xyz="${xyz}" rpy="0.0 0.0 0.0" />
      <parent link="base_link_${id}"/>
      <child link="prop_${propid}_${id}"/>
    </joint>
  </xacro:macro>
  
<!--##############################CAMERA#######################################################-->

  <!-- Camera -->
  <xacro:macro name="generic_camera" params="id"> 	
  	<link name="camera_link_${id}">
    	<inertial>
        	<mass value="0.000" />
        	<origin xyz="0 0 0" rpy="0 0 0" />
        	<inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001" />
      	</inertial>
      	<visual>
        	<origin xyz="0 0 0" rpy="0 0 0" />
        	<geometry>
          		<box size="0.01 0.01 0.01" />
        	</geometry>
        	<material name="red"/>
      	</visual>
      	<collision>
        	<origin xyz="0 0 0" rpy="0 0 0" />
        	<geometry>
        		<box size="0.01 0.01 0.01" />
        	</geometry>
      	</collision>
    </link>
    
    <joint name="camera_${id}_joint" type="fixed">
  		<origin xyz="0.0 0.0 -0.12" rpy="0 1.4 0"/>
    	<parent link="base_link_${id}"/>
    	<child link="camera_link_${id}"/>
    </joint>

    
    <gazebo reference="camera_link_${id}">
    	<sensor type="camera" name="camera_link_${id}_sensor">
    		<visualize>true</visualize>
    		<update_rate>10</update_rate>
        	<camera>
        		<horizontal_fov>1.07079633</horizontal_fov>
          		<image>
            		<format>R8G8B8</format>
                    <width>1280</width>
                    <height>960</height>
          		</image>
          		<clip>
            		<near>0.01</near>
            		<far>100</far>
          		</clip>
        	</camera>
        	<plugin name="camera_link_${id}_controller" filename="libgazebo_ros_camera.so">
        		<alwaysOn>true</alwaysOn>
          		<cameraName>camera_${id}</cameraName>
          		<imageTopicName>image_raw_${id}</imageTopicName>
          		<cameraInfoTopicName>camera_info_${id}</cameraInfoTopicName>
          		<frameName>camera_link_${id}</frameName>
                <!--CxPrime>320.5</CxPrime>
          		<Cx>320.5</Cx>
          		<Cy>240.5</Cy>
          		<hackBaseline>0</hackBaseline>
                <focalLength>1078.905191</focalLength>
          		<distortionK1>0.0</distortionK1>
          		<distortionK2>0.0</distortionK2>
          		<distortionK3>0.0</distortionK3>
          		<distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2-->
        	</plugin>
      	</sensor>
    </gazebo>
  </xacro:macro>

  <!-- #########################SONAR############################################### -->

  <xacro:macro name="sonar_sensor" params="id">
    <link name="sonar_link_${id}">
      <inertial>
        <mass value="0.000" />
        <origin xyz="0 0 0" rpy="0 0 0" />
        <inertia ixx="0.00000000" ixy="0" ixz="0" iyy="0.00000000" iyz="0" izz="0.00000000" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://hector_sensors_description/meshes/sonar_sensor/max_sonar_ez4.dae"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.01 0.01 0.01" />
        </geometry>
      </collision>
    </link>

    <joint name="sonar_${id}_joint" type="fixed">
      <origin xyz="0 0.25 0.032" rpy="0 1.57 0"/>
      <parent link="base_link_${id}"/>
      <child link="sonar_link_${id}"/>
    </joint>

    <gazebo reference="sonar_link_${id}">
      <sensor type="ray" name="sonar_link_${id}_sensor">
        <always_on>true</always_on>
        <update_rate>10</update_rate>
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <ray>
          <scan>
            <horizontal>
              <samples>3</samples>
              <resolution>1</resolution>
              <min_angle>-0.35</min_angle>
              <max_angle> 0.35</max_angle>
            </horizontal>
            <vertical>
              <samples>3</samples>
              <resolution>1</resolution>
              <min_angle>-0.35</min_angle>
              <max_angle>0.35</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.03</min>
            <max>100</max>
            <resolution>0.01</resolution>
          </range>
        </ray>

        <plugin name="gazebo_ros_sonar_link_${id}_controller" filename="libhector_gazebo_ros_sonar.so">
          <gaussianNoise>0.005</gaussianNoise>
          <topicName>sonar_${id}</topicName>
          <frameId>sonar_link_${id}</frameId>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- ######################################################################## -->
  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_base_macro" params="id model_name">
    <link name="base_link_${id}">
      <inertial>
        <mass value="1.487" />
        <origin xyz="0 0 0.0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
        <origin xyz="0 0 -0.25" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mbzirc_gcs_view/model/firefly_scale.dae"/>
        </geometry>
      </visual>

      <collision>
        <origin xyz="0 0 -0.25" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://mbzirc_gcs_view/model/firefly_scale.dae"/>
        </geometry>
      </collision>
    </link>

    <xacro:quadrotor_single_propeller propid="0" id="${id}" xyz="0.40 0.23 -0.05" />
    <xacro:quadrotor_single_propeller propid="1" id="${id}" xyz="0.00 0.46 -0.05" />
    <xacro:quadrotor_single_propeller propid="2" id="${id}" xyz="-0.40 0.23 -0.05" />
    <xacro:quadrotor_single_propeller propid="3" id="${id}" xyz="0.00 -0.46 -0.05" />
    <xacro:quadrotor_single_propeller propid="4" id="${id}" xyz="-0.40 -0.23 -0.05" />
    <xacro:quadrotor_single_propeller propid="5" id="${id}" xyz="0.40 -0.23 -0.05" />
    <xacro:generic_camera  id="${id}" />
    <xacro:sonar_sensor id="${id}" />

    <gazebo reference="base_link_${id}">
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <!-- Gazebo Plugins -->
    <xacro:quadrotor_plugins model_name="${model_name}" base_link="base_link_${id}"/>
	
  </xacro:macro>  

</robot>
