<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- Main object link -->
  <xacro:macro name="yellow_cylinder" params="id">
    <link name="base_link_${id}">
      <inertial>
        <mass value="0.5" />
        <origin xyz="0 0 0.0" />
        <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
      </inertial>

      <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <cylinder length="0.2" radius="0.10"/>
      </geometry>
      <material name="yellow">
          <color rgba="0.8 0.6 0 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <cylinder length="0.2" radius="0.10"/>
      </geometry>
    </collision>
  </link>

    <gazebo reference="base_link_${id}">
      <material>Gazebo/Yellow</material>
      <turnGravityOff>false</turnGravityOff>
    </gazebo>

  </xacro:macro>

</robot>
