<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find grvc_quadrotor_gazebo)/urdf/quadrotor_sensors.urdf.xacro" />
  <xacro:include filename="$(find grvc_quadrotor_gazebo)/urdf/quadrotor_simple_controller.urdf.xacro" />

  <!-- Quadrotor Gazebo Plugins -->
  <xacro:macro name="quadrotor_plugins" params="model_name base_link">
    <canonicalBody>${base_link}</canonicalBody>
    <xacro:quadrotor_sensors model_name="${model_name}" base_link="${base_link}"/>
    <xacro:quadrotor_simple_controller model_name="${model_name}"  state_topic="ground_truth/state" imu_topic="raw_imu"
      base_link="${base_link}" command_topic="cmd_vel"/>
  </xacro:macro>
</robot>
