<?xml version="1.0"?>
<launch>

    <!-- Load frame transforms for map and UAVs -->
    <rosparam file="$(find uav_avoidance)/launch/config/karting_params.yaml" command="load" />

    <!-- Launch robot id=2 -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch">
        <arg name="id" value="2"/>
	    <arg name="mode" value="serial"/>
        <arg name="material" value="Indigo"/>
    </include>

</launch>
