<?xml version="1.0"?>
<robot name="object_blue_cylinder_mov" xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="object1">
 <link name="base_link">
 <link name="base_link_${id}">
   <inertial>
     <mass value="0.5" />
     <origin xyz="0 0 0.0" />
     <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
   </inertial>

   <visual>
   <origin xyz="0 0 0" rpy="0 0 0" />
   <geometry>
       <box size="0.3 0.3 0.20"/>
   </geometry>
   <material name="blue">
       <color rgba="0 0 .8 1"/>
   </material>
 </visual>
 <collision>
   <origin xyz="0 0 0" rpy="0 0 0" />
   <geometry>
       <box size="0.3 0.3 0.20"/>
   </geometry>
 </collision>
</link>
  <gazebo reference="base_link">
    <turnGravityOff>false</turnGravityOff>
  </gazebo>
 </xacro:macro>
</robot>
