<!--

Launches the swap node in robot 1

-->

<launch>

    <!-- Representation node -->
    <!-- <node name="visualization_system" pkg="uav_avoidance" type="delayed.sh"
		args="3 roslaunch avoidance_visualization avoidance_visualization.launch" output="screen"/> -->

    <!-- Prepare the bag -->
    <include file="$(find uav_avoidance)/launch/common/recordbag.launch">
            <arg name="topics2salve" default="  /uav_1/ual/pose 
                                                /uav_2/ual/pose 
                                                /uav_1/avoid_movement_direction 
                                                /uav_2/avoid_movement_direction  
                                                /uav_1/wished_movement_direction 
                                                /uav_2/wished_movement_direction 
                                                /uav_1/collision_worning 
                                                /uav_2/collision_worning"/>

            <arg name="nameofbag" default="experiment02/experiment02_01"/>
    </include>

    <!-- Green light -->
    <node name="ready2go" pkg="uav_avoidance" type="ready2go.sh" output="screen"/>
	
</launch>
