<!--

Launches the necessary node to test swap in the simulator or in 
 the real world.
-->

<launch>

	<arg name="yaw_on" default="true"/>
	<!-- Waking up all fake state machines systems -->
    <node name="auv_state_machine_1" pkg="uav_avoidance" type="delayed.sh"
		args="5 roslaunch uav_avoidance state_machine_fake.launch robot_number:=1 yaw_on:=$(arg yaw_on)" output="screen">
	</node>
	    

 <node name="auv_avoidance_1" pkg="uav_avoidance" type="delayed.sh"
		args="0 roslaunch uav_avoidance avoidance.launch robot_number:=1 yaw_on:=$(arg yaw_on)" output="screen">
	</node>
	

</launch>
