<!--

-->

<launch>
	
	<!-- Waking up all fake state machines systems -->
    <node name="auv_state_machine_1" pkg="uav_avoidance" type="delayed.sh"
		args="8 roslaunch uav_avoidance state_machine_fake.launch robot_number:=4" output="screen">
	</node>
	    

 <node name="auv_avoidance_1" pkg="uav_avoidance" type="delayed.sh"
		args="3 roslaunch uav_avoidance avoidance.launch robot_number:=4" output="screen">
	</node>
	

</launch>
