<?xml version="1.0"?>
<!--
The MIT License (MIT)
Copyright (c) 2016 GRVC University of Seville

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<launch>

<!--******************************NODE GENERATE WORLD****************************************-->
    <node name="CreateFile" pkg="mbzirc_gcs_view" type="createfileworld" output="screen" args="$(find mbzirc_gcs_view)" />

<!--******************************NODE GENERATE OPENCV WINDOWS****************************************-->
    <node name="CameraView" pkg="mbzirc_gcs_view" type="cameraview" output="screen" />


<!--******************************WORLD****************************************-->
    <!-- Actually start gazebo server -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find mbzirc_gcs_view)/world/generate_world.world"/>
        <arg name="paused" value="true"/>
    </include>

    <!--node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="$(find mbzirc_gcs_view)/world/generate_world.world">
        <env name="LC_NUMERIC" value="C"/>
        <env name="GAZEBO_MODEL_PATH" value="$(find mbzirc_gcs_view)/sdf/"/>
    </node-->

    <!-- launch gazebo client -->
    <!--node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen">
        <env name="LC_NUMERIC" value="C"/>
    </node-->

<!--******************************UAVs****************************************-->

    <include file="$(find mbzirc_gcs_view)/launch/spawn_quad_correct.launch">
        <arg name="robot_name" value="quad1"/>
        <arg name="id" value="1"/>
        <arg name="pos_x" value="65"/>
        <arg name="pos_y" value="-26.5"/>
        <arg name="pos_z" value="0.3"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_quad_correct.launch">
        <arg name="robot_name" value="quad2"/>
        <arg name="id" value="2"/>
        <arg name="pos_x" value="65"/>
        <arg name="pos_y" value="-25"/>
        <arg name="pos_z" value="0.3"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_quad_correct.launch">
        <arg name="robot_name" value="quad3"/>
        <arg name="id" value="3"/>
        <arg name="pos_x" value="65"/>
        <arg name="pos_y" value="-23.5"/>
        <arg name="pos_z" value="0.3"/>
    </include>

<!--******************************DINAMIC_OBJECTS****************************************-->

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_black_cylinder_mov_1"/>
        <arg name="urdf_file" value="object_black_cylinder.urdf.xacro"/>
        <arg name="pos_x" value="-40"/>
        <arg name="pos_y" value="20"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_black_cylinder_mov_2"/>
        <arg name="urdf_file" value="object_black_cylinder.urdf.xacro"/>
        <arg name="pos_x" value="17"/>
        <arg name="pos_y" value="-2"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_black_box_mov_1"/>
        <arg name="urdf_file" value="object_black_box.urdf.xacro"/>
        <arg name="pos_x" value="-6"/>
        <arg name="pos_y" value="13"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_black_box_mov_2"/>
        <arg name="urdf_file" value="object_black_box.urdf.xacro"/>
        <arg name="pos_x" value="32"/>
        <arg name="pos_y" value="12"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_blue_box_mov_1"/>
        <arg name="urdf_file" value="object_blue_box.urdf.xacro"/>
        <arg name="pos_x" value="-38"/>
        <arg name="pos_y" value="-17"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_blue_cylinder_mov_1"/>
        <arg name="urdf_file" value="object_blue_cylinder.urdf.xacro"/>
        <arg name="pos_x" value="10"/>
        <arg name="pos_y" value="8"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_red_box_mov_1"/>
        <arg name="urdf_file" value="object_red_box.urdf.xacro"/>
        <arg name="pos_x" value="-18"/>
        <arg name="pos_y" value="27"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_red_box_mov_2"/>
        <arg name="urdf_file" value="object_red_box.urdf.xacro"/>
        <arg name="pos_x" value="22"/>
        <arg name="pos_y" value="-28"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_red_cylinder_mov_1"/>
        <arg name="urdf_file" value="object_red_cylinder.urdf.xacro"/>
        <arg name="pos_x" value="-3"/>
        <arg name="pos_y" value="-28"/>
        <arg name="pos_z" value="0.07"/>
    </include>

    <include file="$(find mbzirc_gcs_view)/launch/spawn_object_mobile.launch">
        <arg name="robot_name" value="object_red_cylinder_mov_2"/>
        <arg name="urdf_file" value="object_red_cylinder.urdf.xacro"/>
        <arg name="pos_x" value="17"/>
        <arg name="pos_y" value="13"/>
        <arg name="pos_z" value="0.07"/>
    </include>

<!--******************************NODE MOVE DINAMICS OBJECTS****************************************-->
    <!--node name="moveObject" pkg="mbzirc_gcs_view" type="moveobject" output="screen" /-->



</launch>
