<?xml version="1.0"?>
<!--
The MIT License (MIT)
Copyright (c) 2016 GRVC University of Seville

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<launch>

<!--******************************NODE GENERATE WORLD****************************************-->
    <!--node name="CreateFile" pkg="visualization" type="createfileworld" output="screen" args="$(find visualization)" /-->

<!--******************************NODE GENERATE OPENCV WINDOWS****************************************-->
    <!--node name="CameraView" pkg="visualization" type="cameraview" output="screen" /-->


<!--******************************WORLD****************************************-->
    <!-- Actually start gazebo server -->

    <!---include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find visualization)/world/generate_world.world"/>
        <arg name="paused" value="true"/>
        <env name="GAZEBO_MODEL_PATH" value="$(find visualization)/sdf/"/>
    </include-->

    <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="-u $(find visualization)/world/sdf_world.world">
        <env name="LC_NUMERIC" value="C"/>
        <!--env name="GAZEBO_MODEL_PATH" value="$(find visualization)/sdf/"/-->
    </node>

    <!-- launch gazebo client -->
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen">
        <env name="LC_NUMERIC" value="C"/>
    </node>

<!--******************************UAVs****************************************-->

    <arg name="frames" default="/cfg/map_simulation.xml"/>
    <param name="frames_file" type="str" value="$(arg frames)" />

    <!-- Launch robot id=1 -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch">
        <arg name="id" value="1"/>
        <arg name="material" value="Orange"/>
        <arg name="frames" value="$(arg frames)"/>
    </include>
    <!-- Launch robot id=2 -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch">
        <arg name="id" value="2"/>
        <arg name="material" value="Indigo"/>
        <arg name="frames" value="$(arg frames)"/>
    </include>
    <!-- Launch robot id=3 -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch">
        <arg name="id" value="3"/>
        <arg name="material" value="ZincYellow"/>
        <arg name="frames" value="$(arg frames)"/>
    </include>

</launch>
