<?xml version="1.0"?>
<launch>

    <arg name="uav_id" value="2"/>

    <!-- Load frame transforms for map and UAVs -->
    <rosparam file="$(find uav_avoidance)/launch/config/karting_params.yaml" command="load" />

    <!-- Launch robot id=$(arg uav_id) -->
    <include file="$(find px4_bringup)/launch/spawn_robot.launch">
        <arg name="id" value="$(arg uav_id)"/>
	    <arg name="mode" value="serial"/>
    	<arg name="material" value="Indigo"/>
    </include>

    <!-- Launch UAL server for uav id=$(arg uav_id) -->
    <node pkg="uav_abstraction_layer" type="server" name="server_$(arg uav_id)" output="screen" args="-uav_id=$(arg uav_id) -pose_frame_id=map -ns_prefix=$(arg ns_prefix)"/>

</launch>
