
<launch>
	<param name="/use_sim_time" value="true"/>
	<node name="gazebo" pkg="gazebo_ros" type="gazebo" args="$(find mbzirc)/world/prueba_2.world" respawn="false" output="screen">
		<env name="GAZEBO_RESOURCE_PATH" value="$(find mbzirc)/model" />
	</node>

	<arg name="gui"  value="true" />	

</launch>
