<?xml version="1.0"?>
<launch>
    
    <node pkg="uav_abstraction_layer" type="server" name="ual_server_2" output="screen" args="-uav_id=2"/>

    <node name="uav_state_machine_2" pkg="uav_state_machine" type="uav_state_machine" respawn="false" output="screen"
      args="-uavId=2 -flying_level=11.0"/>
    
</launch>
