<?xml version="1.0"?>
<launch>
    
    <node name="grvc_hal_quad2" pkg="grvc_quadrotor_hal" type="hal_node" respawn="false" output="screen"
		  args="-hal_ns=/mbzirc_2/hal -mavros_ns=/mavros_2 -uavId=2"/>

    <node name="uav_state_machine_2" pkg="uav_state_machine" type="uav_state_machine" respawn="false" output="screen"
      args="-uavId=2"/>
    
</launch>
