<?xml version="1.0"?>
<launch>
    
    <node pkg="uav_abstraction_layer" type="server" name="ual_server_1" output="screen" args="-uav_id=1"/>

    <node name="uav_state_machine_1" pkg="uav_state_machine" type="uav_state_machine" respawn="false" output="screen"
      args="-uavId=1 -flying_level=3.0"/>
    
</launch>
