<?xml version="1.0"?>
<launch>

  <!-- Estimator and task allocator -->
  <node name="mbzirc_estimator" pkg="mbzirc_scheduler" type="scheduler_node" respawn="false" output="screen">
	<param name="estimator_rate" value="5.0" />     <!-- in herzs -->
	<param name="lost_time_th" value="20.0" />      <!-- in seconds -->
	<param name="association_th" value="6.0" />
	<param name="min_update_count" value="5" />
	<param name="delay_max" value="2.0" />          <!-- in seconds -->
	<param name="task_alloc_mode" value="2" />	<!-- HIGHER_PRIORITY_NEAREST -->
	<param name="task_alloc_alpha" value="0.8" />  
	<param name="min_conflict_dist" value="5.0" /> 
	<param name="n_uavs" value="3" />
   </node>

   <!-- Estimator and task allocator -->
   <node name="gcs_state_machine" pkg="gcs_state_machine" type="gcs_state_machine" respawn="false" output="screen" args="1 2">
   </node>

</launch>
