<!--

Launches the mission planer node
-->

<launch>

<arg name="yaw_on" default="false"/>
	<!-- Waking up all fake state machines systems -->
    <node name="auv_state_machine_1" pkg="uav_avoidance" type="delayed.sh"
		args="5 roslaunch uav_avoidance state_machine_fake.launch waypoints:=$(find uav_avoidance)/logs/mission1_uav4.txt robot_number:=4 yaw_on:=$(arg yaw_on)" output="screen">
	</node>

</launch>
