<!--

Plays the current saved rosbag

-->

<launch>

    <!-- Prepare the bag -->
    <include file="$(find uav_avoidance)/launch/common/rosbag_play.launch">
            <arg name="bags_path" value="$(find uav_avoidance)/bags/experiment06"/>
            <arg name="bag_name"  value="experiment06_01.bag"/>
    </include>

</launch>
