<!--

Launches the swap node in robot 1

-->

<launch>

    <!-- Prepare the bag -->
    <include file="$(find uav_avoidance)/launch/common/rosbag_play.launch">
            <arg name="bags_path" value="$(find uav_avoidance)/bags/experiment01"/>
            <arg name="bag_name"  value="experiment01_01.bag"/>
    </include>
	
</launch>
